@model Product
<h1>Create New Product</h1>

<form class="row g-3" asp-action="Create" method="post">
    <div class="col-md-12">
        <label asp-for=Name class="form-label">Name</label>
        <input asp-for=Name type="text" class="form-control" placeholder="Enter product name">
    </div>
    <div class="col-md-6">
        <label asp-for=Price class="form-label">Price</label>
        <input asp-for=Price type="number" class="form-control">
    </div>
    <div class="col-md-3">
        <label asp-for=Discount class="form-label">Discount</label>
        <input asp-for=Discount type="number" class="form-control">
    </div>
    <div class="col-md-3">
        <label asp-for=Quantity class="form-label">Quantity</label>
        <input asp-for=Quantity type="number" class="form-control">
    </div>
   
    <div class="col-md-6">
        <label asp-for=ImageUrl class="form-label">Image URL</label>
        <input asp-for=ImageUrl type="url" class="form-control">
    </div>
    
    <div class="col-md-6">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-select">
            <option selected>Choose...</option>
            <option value="1">Smartphones</option>
            <option value="5">Speakers</option>
            <option value="9">Headphones</option>
        </select>
    </div>

    <div class="col-md-12">
        <label asp-for=Description class="form-label">Description</label>
        <textarea asp-for=Description class="form-control" rows="3"></textarea>
    </div>

    <div class="col-6">
        <a asp-action="Manage" class="btn btn-dark w-100">Back</a>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-success w-100">Create</button>
    </div>
</form>